.Main.note_list {
  min-width: 90%;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(250px, 300px);
}

.Main.note_list a {
  display: inline-block;
  background-color: #00b7ff00;
  text-decoration: none;
  border: 1px solid white;
  padding: 16px 64px;
  transition: all 0.1s ease-in;
  font-size: 1.25em;
  font-weight: 600;
}

.Main.note_list a:hover {
  transform: scale(1.2);
  background-color: #5413cec9;
}

.Main.note_list > li {
  background: rgb(86, 128, 233);
  background: linear-gradient(
    167deg,
    rgba(86, 128, 233, 1) 0%,
    rgba(0, 183, 255, 1) 100%
  );
  padding: 16px;
  margin-top: 16px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 3px 3px 1px #55496bc9;
  font-size: 1.1em;
  text-align: center;
  min-width: 100%;
  min-height: 4em;
}

.Main__new_button {
  max-height: 5em;
  grid-area: newBtn;
  align-self: end;
  margin-left: 20%;
}

@media screen and (min-width: 600px) {
  .Main.note_list {
    grid-template-columns: 1fr 1fr;
    gap: 8px 16px;
  }
}

@media screen and (min-width: 1100px) {
  .Main.note_list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
